<section class="contact-card">
  <ul>
    <li>
      <a href="//twitter.com/leakypixel">
        {{{ meta.svgs.twitter-brands }}}
        <span>twitter</span>
      </a>
    </li>

    <li>
      <a href="//github.com/leakypixel">
        {{{ meta.svgs.github-brands }}}
        <span>github</span>
      </a>
    </li>

    <li>
      <a href="https://hub.docker.com/u/leakypixel">
        {{{ meta.svgs.docker-brands }}}
        <span>docker hub</span>
      </a>
    </li>

    <li>
      <a href="https://www.linkedin.com/in/craig-fletcher-30594868/">
        {{{ meta.svgs.linkedin-brands }}}
        <span>linkedin</span>
      </a>
    </li>

    <li>
      <a href="/blog">
        {{{ meta.svgs.newspaper-solid }}}
        <span>blog</span>
      </a>
    </li>
  </ul>
</section>
